НА ПЕРЕДЕЛКУ:
1.	Неоптимальная многопоточная обработка: каждый поток выполняет все дейсвтия чтение\обработку\запись блока (что может приводить к блокировки потоков обработки в ожидании чтения\записи другими потоками, что замедляет общую скорость работы) 
2.	Нет обработки ошибок в потоках

***

ВОПРОС:
Критические секции ведь установлены только на некоторые операции чтения/записи на ПЗУ. Блокировка ведь вообще не касается обработки данных (архивации/разархивации).

Или просто предлагается разнести чтение/обработку/запись в три специализированны Thread'а?

И какие именно типы исключений необходимо обработать в Thread'ах?

Или нужно реализовать асинхронность, используя Thread'ы?

ОТВЕТ:
Да, предлагается разнести чтения\обработку\запись в отдельные потоки. 
В запускаемых потоках необходимо обрабатывать все исключения и коректно завершать работу приложения. 
Да, задание предполагает реализацию асинхронной обработки данных в потоках